<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Blogg</title>
</head>

<body>

  <nav>
    <div class="site-title">
      <a href="/">
        <h1>Amir Blog</h1>
      </a>
      <p>An Amir Site</p>
    </div>

    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blogs</a></li>
    </ul>
  </nav>

  <div class="about content">
    <h2>All Blogs</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat aperiam aliquam officiis laborum maxime repellat recusandae magni obcaecati expedita assumenda?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat aperiam aliquam officiis laborum maxime repellat recusandae magni obcaecati expedita assumenda?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat aperiam aliquam officiis laborum maxime repellat recusandae magni obcaecati expedita assumenda?</p>
  </div>

</body>

</html>