<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>


<body>

  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>All Blogs</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat aperiam aliquam officiis laborum maxime repellat recusandae magni obcaecati expedita assumenda?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat aperiam aliquam officiis laborum maxime repellat recusandae magni obcaecati expedita assumenda?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat aperiam aliquam officiis laborum maxime repellat recusandae magni obcaecati expedita assumenda?</p>
  </div>

  <!-- footer -->
  <%- include('./partials/footer.ejs') %>

</body>

</html>